body {
    background-color: #f0f5f9;
}
.jieshao{
    background-color: #fff;
    padding: 0.26rem 0.4rem;
    border-bottom: 1px solid #c5c5c5;
}
.jieshao_header{
    height: 1.33rem;
    margin-bottom: .3rem;
}
.jieshao_header>img{
    width: 1.33rem;
    height: 1.33rem;
    border: 1px solid #c5c5c5;
    border-radius: 50%;
    box-sizing: border-box;
}
.jieshao_header>div{
    margin-left: 0.28rem;
}
.jieshao_name{
    font-size: 0.35rem;
    color: #000;
    font-weight: bold;
}
.jieshao_btn{
    width: 1.07rem;
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: center;
    border: 1px solid #2984ed;
    border-radius: 0.12rem;
    font-size: 0.28rem;
    color: #2984ed;
    box-sizing: border-box;
    margin-left: 0.34rem;
}
.fensi{
    width: 7.5rem;
    text-align: center;
    font-size: 0.28rem;
    margin-top: 0.1rem;
    color: #333;
}
.fensi span{
    display: inline-block;
}
.fensi_center{
    margin: 0 0.7rem;
}
.jieshao_description{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    -moz-box-orient: vertical;
    font-size: 0.31rem;
    width: 100%;
}
/*tab点击样式*/
.news_change_b {
    margin-top: 0;
    background-color: transparent;
}
.news_change_t_box{
    height: 0.85rem;
}
.news_change_t {
    height: 0.85rem;
    padding: 0;
    background:url("../image/dk/news_change_tbg.png") no-repeat;
    width: 100%;
    border: 0;
}
.fixed_top {
    position: fixed;
    top: 1.222rem;
    width: 100%;
    z-index: 100;
}

.news_change_t li {
    height: 0.85rem;
    width: 50%;
    position: relative;
}
.news_change_t li a{
    color: #fff;
}

.news_change_t li.on {
    border-bottom: 0;
}

.news_change_t li a {
    line-height: 0.85rem;
}
.news_change_t li.on a{
    color: #fff;
}
.triangle{
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 2.25rem;
    border-top: 0.14rem solid transparent;
    border-right: 0.25rem solid transparent;
    border-bottom: 0.14rem solid #fff;
    border-left: 0.25rem solid transparent;
    display: none;
}
.news_change_t li.on .triangle{
    display: block;
}
.time_box .date{
    margin-right: 0.3rem;
}
.news_li_list{
    background-color: #fff;
    margin: 0;
    padding: .406rem .27rem;
}
.tab-container{
    display: none;
    background-color: transparent;
}
/*观点*/
.guandian_scroll_item{
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 0.2rem;
    position: relative;
}
.guandian_scroll_item_header{
    height: .85rem;
    margin-bottom: .3rem;
    position: relative;
}
.guandian_scroll_item_header img{
    width: .85rem;
    height: .85rem;
    border: 1px solid #c5c5c5;
    border-radius: 50%;
    box-sizing: border-box;
    float: left;
    margin: 0 0.25rem 0 0;
}
.guandian_scroll_item_header .jieshao_name{
    font-size: 0.3rem;
    position: absolute;
    top: -0.05rem;
}
.guandian_scroll_item_header .fensi{
    position: absolute;
    top: 0.2rem;
    color: #747474;
}
.guandian_scroll_item_header .fensi .date{
    margin-right: 0.3rem;
}
.guandian_scroll_item_description{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    -moz-box-orient: vertical;
    font-size: 0.31rem;
    width: 100%;
    color: #333;
}
.descriptionActive .guandian_scroll_item_description{
    -webkit-line-clamp: 30;
}

.guandian_scroll_item_bottom{
    border-top: 1px solid #E7E7E7;
    margin-top: 0.65rem;
    padding: 0 1rem;
    position: relative;
    text-align: center;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.31rem;
    color: #808080;
}
.guandian_scroll_item_bottom>p{
    display: inline-block;
}
.guandian_scroll_item_bottom>p img{
    width: 0.42rem;
    height: auto;
    margin: 0.15rem 0.2rem 0 0;
    border-radius: 0;
    float: left;
}
.guandian_scroll_item_bottom>p:nth-child(2) img{
    width: 0.54rem;
}

.see_more{
    position: absolute;
    bottom: 0.8rem;
    right: 0.5rem;
    color: #197aea;
    font-size: 0.32rem;
}
.see_more img{
    width: 0.23rem;
    height: auto;
    margin-top: 0.2rem;
    margin-left: .1rem;
    transition: all 0.3s;
}
.descriptionActive .see_more img{
    transform: rotate(180deg);
}