@charset "utf-8";
html,body{width: 100%; height: 100%; line-height:60%;}
body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,code,em,img,q,small,strong,dd,dl,dt,li,ol,ul,fieldset,form,label,table,tbody,tr,th,td,input{margin:0;padding:0;border:0}
ol,ul,li{list-style:none;}
/*字体文件*/
@font-face {
    font-family: SourceHanSansCN;
    src: url('../font/SourceHanSansCN-Normal.ttf');
}
*{margin:0;border:0;padding:0; font-family:SourceHanSansCN,STHeiti,Microsoft YaHei,Helvetica,Arial,sans-serif;}
/*取消A标签提示区域*/
a{text-decoration:none;-webkit-tap-highlight-color:rgba(255,0,0,0);}
.news_li_list a,.gold_dp_b li a,.huadong a,.main_tt a{-webkit-tap-highlight-color:rgba(0,0,0,0.3);}
table,th,tr,td,h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
textarea,input[type="password"],input[type="text"]{resize:none;outline:0;-webkit-appearance:none;white-space:pre-wrap;word-wrap:break-word;-webkit-tap-highlight-color:rgba(255,0,0,0);}
input{background-color:transparent;border-radius:0;}
table{border-collapse:collapse;}
em,i{font-style:normal;}
b{font-weight:normal;}
img{display:block;}
/*清除浮动影响*/
.clear-float:after{content: '';display: table;clear: both;}
.float-l{float: left}
.float-r{float: right}

/*  */
.adv_dw{width:100%;height:1.5rem;}
/**/
.bm_adv{position:fixed;left:0;bottom:0;width:100%;border-top:solid 1px #999;background:url(../image/cafz_byw.gif) no-repeat center;background-size:100% 100%;font-size:.6811rem;z-index: 997;}
.bm_adv img{height:1.58rem;}
.bm_adv span{display:inline-block;margin-left:48%;font-weight:bold;color:#EB0B0A; display:none;}
/*  */
.hidden{display:none;}
.red{color:#ec5556;}
.green{color:#27a92d;}
.xiao{color: rgb(255,191,0);}
.opacity3{width:100%; height:100%; background-color:#000; opacity:0.5; display:none; position:fixed; left:0; top:0; z-index:90;}
/*设置图片延迟加载时的默认显示图片*/
img.lazy{background:url(../image/no_img.svg) no-repeat center center #F0F5F9; background-size:100% auto; border:0;}
/* 通用下拉 */
.top_xl{position:fixed;left:0;right:0;top: 1.2222rem;line-height: 1.2222rem;background-color:#FFF;opacity:.99;z-index:1999;display:none; bottom:0;}
.top_xl .pdh{background-color:#FFF; padding-bottom:1rem;}
.top_xl .title{font-size:.4687rem;text-align:left;line-height:1.2rem;padding:0 .3125rem; border-bottom:solid 1px #ddd;}
.top_xl .pd_li{overflow:hidden; padding:0 0 0 .3125rem;border-bottom:1px solid #F3F3F3;}
.top_xl .pd_li .le_link{font-size:.395rem;color:#000; font-weight:bold; line-height:1em;padding-right:.5rem; float:left; margin:.4025rem 0 .35rem 0;}
.top_xl .pd_li ul{overflow:hidden;  padding-bottom:.32rem; border-left:1px dotted #e8e8e8; padding-left:.4rem;}
.top_xl .pd_li li{padding:0 .26rem 0 .22rem; float:left; white-space:nowrap; position:relative;}
.top_xl .pd_li li a{display:block;width:100%; padding:.3225rem 0 0 0;font-size:.395rem;color:#333;line-height:1em;text-align:left;}
.top_xl .pd_li li.cur a{color:#2a87f0;}
.top_xl .top_xl_close{position:absolute;right:0rem;top:0rem;width:1.2rem;height:1.2rem;background:url(../image/top_xl_close.svg) no-repeat center;background-size:40%; display:none;}

.top_xl .pd_li li.hot::after{background-color:#f84c4b;color:#fff; content: "HOT";font-family: Arial; font-size: .2812rem; height:.4225rem; line-height:.4225rem; padding: 0 2px;position: absolute;right: -.34rem;text-align: center;top:.05rem;transform: scale(0.5, 0.5);width:.8525rem;}
.top_xl .pd_li li.hot::before{border-right: 2px solid transparent;border-top:2px solid #fa4e46;content:"";height:0; position:absolute;right:.32rem;top:.362rem; width:0;}
/* 首页头部 */
.top_login{float:right;overflow: hidden;margin-right: 22%;}
.top_login a{float: left;}
.top_login .entrance{font-size:.375rem;color:#fff;line-height: 1.2222rem;}
.top_login .entrance>img{width: 0.53rem;margin-top: 0.32rem;}
.top_login .protrait{width: .8125rem;height: .8125rem;margin-top: .20485rem;}
.top_login .protrait img{width: 100%;height: 100%;border-radius: 50%;}
.i_top{height:1.2222rem; width:100%;}
.top{height:1.2222rem;line-height: 1.2222rem; width:100%; top:0; z-index:1000; position:fixed; top:0;background:url(../image/index_top_bg.png) no-repeat;background-size: cover;}
.top .topt_app{padding:.05rem .22rem; color:#FFF;position:absolute;right:.278rem;top:.25rem;line-height:normal; font-size:.389rem; border-radius:3px; border:1px solid #FFF;}
.top .topt_logo{width:2.9375rem;height:.78125rem;float:left;margin:.21875rem .78125rem 0 .25rem;}
.top .topt_logo img{width:100%;height:auto;}
.swiper-container{overflow:hidden;}
.open_dwon { display:block;margin:.28125rem 0 0 0;width:1.875rem;height:.7rem;border:1px solid #fff;color:#fff;float:left;font-size:.375rem;line-height:.7rem;text-align:center;padding-left: 0.5rem;position: relative}
.open_dwon img{position: absolute;height: 0.5rem;left: 0.18rem;top: 0.1rem;}

/*二级页面头部信息及返回上一页*/
.action-bar-box{
    width: 100%;
    height: 1.2222rem;
    position: relative;
}
.action-bar{
    position: fixed;
    background: #fff;
    width: 100%;
    height: 1.2222rem;
    line-height: 1.2222rem;
    text-align: center;
    font-size: 0.5rem;
    color: #808080;
    font-weight: bold;
    border-bottom: solid 1px #E9E9E9;
    z-index: 100;
    box-sizing: border-box;
}
.action-back{
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    text-align: center;
    left: 0;
    top: 0;
}
.action-back img{
    display: inline-block;
    height: .55rem;
    margin-top: 0.325rem;
}
.action-bar a{
    display: inline;
    color: #289eec;
    margin-right: 0.39rem;
    font-weight: normal;
}
.action-bar span{
    display: inline;
    color: #289eec;
    margin-left: 0.39rem;
    font-weight: normal;
}
    /* 底部 */
.footer{width:100%;padding:.3667rem 0 .3667rem 0;text-align:center;background-color:#f0f5f9; color:#AAAAAA;}
.footer .lk{font-size:.375rem;}
.footer .lk a{color:#222;padding:0 .426rem; line-height:1em; border-left:solid 1px #d1d6da; display:inline-block;}
.footer .lk a:first-child{border-left:0;}
.footer .bz{font-size:.2915rem; color:#666;}
.footer .lk .yjfk_btn{position: relative;z-index: 1}
.footer .lk .yjfk_btn .qrcode{position: absolute;width:2.6875rem;height:3.34375rem;background:url(../image/QRcode_bg.png) no-repeat left top;background-size:100% 100%;left:50%;margin-left:-1.34375rem;margin-top:-3.84375rem;display: none;}
.footer .lk .yjfk_btn .qrcode img{width:80%;margin:.2rem 0 0 9%;}

/* 返回顶部 */
.totop{position:fixed;right:.2778rem;bottom:3rem;z-index:100;}
.totop a,.totop .yhfk{display:block;width: .86rem;height:.86rem; opacity:.8; margin-top:.3125rem;}
.totop .yjfk{background:url(../image/index/fk_ico.png) no-repeat center #69abf4;background-size:56% auto;}
.totop .yhfk{font-size:.31875rem;color:#fff;line-height: 1.3em;text-align: center;padding: .1rem 0 0 0;position: relative;background:rgba(105,171,244,.8);opacity:1}
.totop .yhfk a{display: inline;}
.QR_code_box{position: absolute;width: 2.84375rem;height: 3.3125rem;left: -3rem;top: 50%;margin-top: -1.65625rem;background:url(../image/QRcode_bg.png) no-repeat left top;background-size:100% 100%;display: none;}
.QR_code_box img{width: 80%;margin: .15rem 9%;}
.totop .go_top{background:url(../image/go_t_ico.png) no-repeat center #69abf4;background-size:62% auto;display: none;}
/*内页通用头部*/
.side_menu_box{height:1.1875rem;}
.side_menu_box .fixed{position:static; left:0; top:0;}
.no_fixed_body .side_menu_box .fixed{position:static;}
.side_menu{height:1.2222rem; background-color:#0e6ec4; padding:0 3%; width:94%; z-index:999;}
.side_logo{height:1.2222rem; line-height:1.1875rem; float:left; margin-right:.3125rem; overflow:hidden;}
.side_logo a{height:100%;}
.side_logo img{width:.76rem;height:auto; min-height:10%; float:left; margin-right:.16rem; margin-top:11.5%;}
.side_logo span{font-size:.5rem; line-height:1.1875rem; color:#FFF; float:left;}
.title_word{color:#FFF; font-size:.4375rem; white-space:nowrap; height:1.1875rem; overflow:hidden; position:relative;border-left:1px solid #0D60AA;}
.title_word a{color:#FFF; font-size:.5rem; line-height:1.1875rem; border-right:1px solid #0D60AA;  padding:0 .3205rem; display:inline-block;}
.title_word strong{color:#FFF; font-size:.5rem; line-height:1.1875rem; border-right:1px solid #0D60AA; padding:0 .3205rem; display:inline-block; font-weight:normal;}
.side_menu_btn{width:.8125rem; height:.625rem; background:url(../image/top_men.png) no-repeat center center; background-size: 100% 72%; position:absolute; right:.2rem; top:.283rem;}
.zhj a {background:url(../image/zhjbk.png) no-repeat right 6px;background-size:0.25rem auto;}
/* 导航下拉 */
/*.relative{position:relative;}*/
/*.huadong li.zb a{background:url(../images/index/hot_ico.gif) no-repeat right 5px;background-size:0.28125rem auto;}*/
.huadong_box{height:0.95rem;width: 100%;position: relative;}
.huadong{background-color:#FFF;border-bottom:solid 1px #ddd;width:90%;height:0.95rem; padding:0 9% 0 1%; z-index:998;overflow: hidden;}
/*.huadong{background-color:#FFF;border-bottom:solid 1px #ddd;width:90%;position:fixed;top:1.2222rem;height:1.2222rem; padding:0 9% 0 1%; z-index:998;}*/
.huadong .fixed{position:fixed;left:0;top:0;z-index:999;}
.huadong .main_top li{float:left; width:auto;}
.huadong .main_top li a{line-height:0.95rem; display:block;font-size:.4375rem;color:#000; text-align:center; padding:0 .3rem;}
.huadong .main_top li a:active{color:#1e81f0;}
.huadong .main_top li.cur{color:#1e81f0;}
.huadong .main_top li.cur a{color:#1e81f0; font-size:.4525rem;}
.huadong .main_top li.cur1{background:url(../image/index/sj_up.png) bottom center no-repeat; background-size:30% auto; position:relative; bottom:-1px;}
.huadong .opa_white{position:absolute;right:0;top:0; height:100%; width:1.4rem; background:url(../image/menu_white_shadow.png) no-repeat center left; background-size:100% 100%; z-index:3;}
.huadong .down_click{position:absolute;right:.26rem;top:0;width:.675rem; height:100%; background:url(../image/down1_list_ico.png) no-repeat center center; background-size:88% auto; z-index:5;}
.huadong .up_click{position:absolute;right:.26rem;top:0;width:.675rem; height:100%; background:url(../image/up_list_ico.png) no-repeat center center; background-size:88% auto; z-index:5;}
.select_list_box li{float:left; width:21%; padding:.2rem 2% .2rem 2%;}
.select_list_box a{font-size:.4375rem; color:#000; display:block; text-align:center; padding:.2rem 0; border:1px solid #ddd; border-radius:4px;}
.select_list_box a:active{color:#128efd;}

/*三叠加轮播样式*/
#certify {position: relative;height: 3.9rem;margin:0 auto;padding-top: 0.05rem;background: #fff;box-sizing: border-box;}
#certify .swiper-container{background: #fff;}
#certify  .swiper-slide {width: 6.9rem;height: 3.88rem;background: #fff;}
#certify  .swiper-slide img{display:block;width: 6.9rem;height: 3.88rem;}
#certify  .swiper-slide p {line-height: 98px;padding-top: 0;text-align: center;color: #636363;font-size: 1.1em;margin: 0;}
#certify .swiper-pagination {bottom: 0.2rem;right: 1.7rem;width: 1.2rem;left: auto;}
#certify .swiper-pagination-bullet{background: #fff;opacity: .5;margin: 0 2px;width: 0.15rem;height: 0.15rem;}
#certify .swiper-pagination-bullet-active{background: #fff;opacity:1;}
.swiper-text{position: absolute;bottom: 0;height: 0.6rem;line-height: 0.6rem;width:100%;background: rgba(0,0,0,0.5);z-index: 1;color: #fff;opacity: 1;transition: all 0.3s;}
.swiper-text-hide{opacity: 0;}
.swiper-text div{width: 5.6rem;line-height: 0.6rem;height: 0.6rem;font-size: 0.3rem;margin: 0;padding-left: 0.1rem;overflow: hidden;}

.select_list_box{position:absolute; top:1.22rem; left:0;width:100%; border-bottom:1px solid #DDD; z-index:99999;background-color:#f8f7f7;-webkit-backdrop-filter:blur(10px) saturate(180%);visibility:visible;opacity:1;pointer-events:auto;-webkit-transition:.3s;transition:.3s;}
.select_list_box:not(.show){visibility:hidden;opacity:0;pointer-events:none;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transform:translate3d(0,-.1rem,0);transform:translate3d(0,-.1rem,0)}
.select_list_box:not(.show) ul{-webkit-transform:translate3d(0,-0.26rem,0);transform:translate3d(0,-0.26rem,0)}
.select_list_box ul{overflow:hidden;padding:.3rem 0;-webkit-transition:1s cubic-bezier(0.35,2,0.35,1),opacity 0.5s;transition:0.5s cubic-bezier(0.35,2,0.35,1),opacity 0.5s}

/*二级下拉滑动样式*/
.menu_two_box{height:1.16rem; width:100%; background-color:#FFF;position: relative;}
.menu_two_list{border-bottom:1px solid #DDD;width:100%; z-index:998; background-color:#FFF;overflow: hidden;}
.menu_two_list li{float:left;line-height:1.16rem; color:#999; font-size:.375rem; width:auto;}
.menu_two_list li a{padding:0 .34rem; font-size:.375rem; line-height:1.16rem; color:#666;}
.menu_two_list li a:active{color:#128efd;}
.menu_two_list li.cur a{color:#128efd}
/* .menu_two_list::after{background-image:linear-gradient(to right, rgba(255, 255, 255, 0.3) 1%, #fff 100%); content:""; height:100%; position:absolute; right:0; top:0; width:1rem;z-index:2;} */

/*行情轮播显示*/
.main_col{background-color:#FFF; border-bottom:1px solid #EAEFF7;}
.main_col .bd ul{padding: 0.11rem 0 .4rem 0;background-color:#fff;}
.main_col ul li.change_up{background-color:#FDF0F2;}
.main_col ul li.change_down{background-color:#EBFAEC;}
.main_col ul li>div{display: flex;justify-content: space-around;width: 31.6%;padding: 0.05rem 0;}
.main_col ul li>div.r_color{border: 1px solid #ec5566;}
.main_col ul li>div.g_color{border: 1px solid #27a92d;}
.main_col .bd ul li a{color:#999;}
.main_col .bd ul li:first-child{width: 26.4%; }
.main_col .bd ul li:nth-child(2){width:24.3%; }
.main_col .bd ul li:last-child{width: 29.3%;padding-left: 2%;padding-right: 2%;}
.main_col .bd ul li:first-child:after{width:0;}
.main_col .bd ul li h2{font-size:.36rem;color:#333;text-align: center;}
.main_col .bd ul li h2 img{width: 0.35rem;vertical-align: middle;display: inline-block;margin-right: 0.08rem;}
.main_col .bd ul li span{display:block;font-size:.4rem;color:#666;text-align:center;}
.main_col .bd ul li span.r_color{color:#ec5566;}
.main_col .bd ul li span.g_color{color:#27a92d;}
.main_col .bd ul li .s-sr .red{color:#ec5566;}
.main_col .bd ul li .s-sr .green{color:#27a92d;}
.main_col .bd ul li .s-sr{overflow:hidden; text-align:center; margin-top:-.2rem;}
.main_col .bd ul li .s-sr span{font-size:.2825rem; display:inline; vertical-align:middle;}
.main_col .bd ul li .s-sr span:first-child{text-align:center; padding-right:.1rem;}
.main_col .hd{overflow:hidden; padding:.16rem 0; width:.64rem; margin:0 auto;}
.main_col .hd li{width:.22rem; height:.22rem; background-color:#CCC; border-radius:50px; float:left; margin-left:.1rem;}
.main_col .hd li.on{background-color:#469BEB;}
/*行情轮播点*/
.swiper-container-horizontal>.leftTabBox-pagination {bottom: 0.07rem;}
.leftTabBox-pagination .swiper-pagination-bullet{opacity: 1;background-color: #ccc;}
.leftTabBox-pagination .swiper-pagination-bullet-active{background-color: #999;}

/*首页新闻切换 TouchSlide结构*/
.news_change_b .gold_dp_t .title a{color:#2a87f0;}
.news_slide_box{position:relative; overflow:hidden;}
.news_change_b{background-color:#FFF; margin-top:.15rem; border-bottom:1px solid #EAEFF7;}
.news_list_cg .view_more{color:#2a87f0; line-height:.85rem;text-align:center; display:block; padding:.2812rem 0; font-size:.4375rem;}
.news_change_t{background-color:#FFF; height:1rem; border-bottom:1px solid #E7E7E7;padding: 0.26rem 0.3rem 0 0.3rem;box-sizing: border-box; overflow: hidden;}
.news_change_t ul.fixed{position:fixed; top:0; width:100%; z-index:1001; background-color:#f7f7f7; border-bottom:1px solid #E7E7E7;}
.news_change_t li.yw{text-align:left;}
.news_change_t li.yw a{color:#222;}
.news_change_t li{font-size:.39rem; float:left; width:20%;text-align:center;height: 0.75rem;position:relative;font-weight: 600;color: #333;box-sizing: border-box;}
.news_change_t li a{color:#333; display:block;line-height: 0.75rem;}
.news_change_t li.on{border-bottom: 3px solid #289eec;}
.news_change_t li.on a{color:#289eec;}
.news_li_list{padding:.406rem 0; border-bottom:1px solid #E7E7E7; font-size:.4687rem;  margin:0 .35rem; overflow:hidden;}
.news_li_list img{max-width:100%;}
.fixed_top{position: fixed;top: 0.984rem;width: 100%;z-index: 100;}

.m_index_fgdx{padding:.406rem 0; border-bottom:1px solid #E7E7E7; font-size:.4687rem;  margin:0 .35rem; overflow:hidden;}
.m_index_fgdx img{width:100%; max-width:100%; height:2.578rem;}
/*新闻内容样式*/
.news_li_box{background-color:#FFF;}
.news_li_list{padding:.406rem 0; border-bottom:1px solid #E7E7E7; font-size:.4687rem;  margin:0 .27rem; overflow:hidden;}
.news_li_list img{max-width:100%;}
/*--常规新闻*/
.news_demo1 img{width:3rem; float:right; height:1.86rem; margin-left:.245rem;border-radius: 0.18rem;}
.news_demo1 .news_word_dm{padding-right:3rem;}
.news_demo1 .news_word_dm h2{color:#333;font-size: 0.39rem; line-height:1.5; height:2.7em; overflow:hidden; margin-top: 0.1rem}
.news_demo1 .news_word_dm .time_box{font-size:.2813rem; color:#808080; margin-top:.23rem; line-height:.5rem;}
.news_demo1 .news_word_dm .time_box span{color:#808080;font-size: 0.2813rem;}
.main_more{font-size:.4444rem;text-align: center;}
.main_more span{padding: .3889rem 0 .3889rem .5rem;line-height: .7778rem;display: block;color: #ccc;}
.main_more a{display: block;color:#ccc;background: url("../image/k_more.gif") no-repeat 3.5rem center;background-size:.5778rem .5778rem;padding: .3889rem 0 .3889rem .5rem;line-height: .7778rem;}
.no_more{font-size:.4444rem; padding:.2468rem 0;background: #fff;}
.no_more a{display: block;color:#ccc; padding:.2289rem 0;line-height: .7778rem; width:3.625rem; margin:0 auto; text-align:center;}
.time_box .like{
    float: right;
    padding-left: 0.42rem;
    background: url("../image/icon_link.png") no-repeat 0 0.09rem;
    background-size: 0.3rem 0.28rem;
}
.time_box .view{
    float: right;
    padding-left: 0.44rem;
    margin-right: 0.34rem;
    background: url("../image/icon_view.png") no-repeat 0 0.12rem;
    background-size: 0.3rem 0.25rem;
}
/*上拉加载 下拉刷新盒子*/
.tab-container{
    background-color: #fff;
}
.pullDownHtml, .pullUpHtml {
    height: 50px;
    position: absolute;
}

/*404页面*/
.danye_box{min-height:6rem;}
.danye_box .title{font-size:.5556rem; color:#34daed; font-weight:bold; text-align:center; padding-top:1rem;}
.danye_box .not_404{width:70%; margin:0.5rem auto 1rem auto; height:auto;}
.danye_box .word_404{font-size:.5rem; text-align:center; padding-bottom:1rem;}
.danye_box .word_404 a{color:#a31c0e; text-decoration:underline;}


/*APP下载浮动展示*/
.down_app{width:94%; padding:0 3% 0 3%; position:fixed; left:0; bottom:0; background:url(../images/news/black_op06.png) repeat; z-index:2000;}
.down_fix_l{float:left; width:68%; overflow:hidden;}
.down_fix_l img{float:left; width:.78rem; height:auto; margin-top:.1rem; margin-right:.18rem;}
.down_fix_l .down_word{color:#FFF;}
.down_fix_l .down_word span{display:block; font-size:.375rem; padding-top:.04rem;}
.down_fix_l .down_word p{font-size:.3125rem; line-height:.9375rem;overflow: hidden;}
.down_fix_l .down_word p span{float: left;}
.down_fix_l .down_word p .arrow{width:5%;float: left;margin: .45rem 0 0 .1rem;}
.down_fix_r{float:left; width:21%; background:#fc870e; color:#FFF; padding:.02rem 0rem; font-size:.375rem; text-align:center; margin-top:.18rem;border-radius:2px;}
.down_fix_close{float:left; width:10%; background:url(../images/news/white_close.png) no-repeat center right; background-size:auto 90%; height:.46rem; margin-top:.27rem;}
/* 手机 */
/* 兼容iphone4/4s */
@media (device-height:480px) and (-webkit-min-device-pixel-ratio:2){
html{ font-size: 32px; }
.top_xl .pd_li li.hot::after{font-size:.2rem; width:.5rem; height:.3rem; line-height:.3rem;right: -.28rem;top:.18rem;}
}
 @media only screen and (max-width: 320px)/*苹果5*/
{
    html{ font-size: 32px; }
}
@media only screen and (min-width: 321px) and (max-width: 346px)
{
    html{ font-size: 34.6px; }
}
 @media only screen and (min-width: 347px) and (max-width: 360px)
{
    html{ font-size: 36px; }
}
 @media only screen and (min-width: 361px) and (max-width: 375px)
{
    html{ font-size: 37.5px;}
}
 @media only screen and (min-width: 376px) and (max-width: 384px)
{
    html{ font-size: 38.4px; }
}
 @media only screen and (min-width: 385px) and (max-width: 390px)
{
    html{ font-size: 39px; }
}
 @media only screen and (min-width: 391px) and (max-width: 400px)
{
    html{ font-size: 40px; }
}
 @media only screen and (min-width: 401px) and (max-width: 412px)
{
    html{ font-size: 41.2px; }
}
 @media only screen and (min-width: 413px) and (max-width: 414px)
{
    html{ font-size: 41.4px; }
}
 @media only screen and (min-width: 415px) and (max-width: 427px)
{
    html{ font-size: 42.7px; }
}
 @media only screen and (min-width: 428px) and (max-width: 432px)
{
    html{ font-size: 43.2px; }
}
 @media only screen and (min-width: 433px) and (max-width: 480px)
{
    html{ font-size: 48px; }
}
 @media only screen and (min-width: 481px) and (max-width: 505px)
{
    html{ font-size: 50.4px; }
}
 @media only screen and (min-width: 506px) and (max-width: 605px)
{
    html{ font-size: 60.4px; }
}
 @media only screen and (min-width: 606px) and (max-width: 641px)
{
    html{ font-size: 64px; }
}
 @media only screen and (min-width: 642px) and (max-width: 720px)
{
    html{ font-size: 72px; }
}
 @media only screen and (min-width: 721px) and (max-width: 768px)
{
    html{ font-size: 76.8px; }
}
 @media only screen and (min-width: 769px) and (max-width: 800px)
{
    html{ font-size: 80px; }
}
 @media only screen and (min-width: 801px) and (max-width: 1025px)
{
    html{ font-size: 102.4px; }
}
@media only screen and (min-width: 1279px)
{
    html{ font-size: 127.9px; }
}
@media only screen and (min-width: 1439px)
{
    html{ font-size: 143.9px; }
}
@media only screen and (min-width: 1599px)
{
    html{ font-size: 159.9px; }
}
/*  */
.baiduad{overflow:hidden;}
.s-sr{}